.course-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

app-course {
    width: 50%;
}

.load-courses,
.courses-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    background-image: url("../../../assets/load-background.png");
    background-size: cover; 
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

.load-courses {
    margin: 10px 0 10px;
}