<app-courses-toolbox (findCourse)="findCourse($event)"></app-courses-toolbox>
<div class="course-list" *ngIf="courses?.length > 0">
  <app-course *ngFor="let course of courses" [course]="course" (deleteCourse)="deleteCourse($event)"></app-course>

  <button type="button" class="load-courses" *ngIf="isMore" (click)="loadMore()">
    Load more
  </button>
</div>

<div class="courses-empty" *ngIf="courses?.length === 0">
  No Data. Feel free to add a new course!
</div>

