.course-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px 30px;
    width: 30%;
}

.course-item {
    margin: 20px 0;
    width: 50%;
}

.course-item.course-authors {
    width: 70%;
}

.course-item.course-date {
    text-align: right;
    width: 30%;
}

.course-item > .title {
    margin: 5px 0;
}

.course-item > input {
    border-width: 1px;
    padding-left: 20px;
    width: 300px;
    height: 27px;
}

.course-duration {
    text-align: right;
}

.course-description {
    width: 100%;
}

.course-date > input {
    width: 150px;
}

.course-duration > input {
    width: 100px;
}

.course-description > textarea {
    width: 99%;
    height: 70px;
}

.controls {
    width: 100%;
    text-align: center;
}