<form [formGroup]="courseForm" (ngSubmit)="submitForm()" class="course-details">
  <label class="course-item course-title">
    <p class="title">Title: </p>
    <input type="text" name="" id="" placeholder="Course title" formControlName="title">
  </label>
  <course-duration class="course-item course-duration" formControlName="duration" [invalid]="courseForm.get('duration').invalid"></course-duration>
  <label class="course-item course-description">
    <p class="title">
      Description: 
    </p>
    <textarea placeholder="Brief information about the course..." formControlName="description">{{description}}</textarea>
  </label>
  <label class="course-item course-authors">
    <p class="title">Authors</p>
    <input type="text" disabled="true">
  </label>
  <course-date class="course-item course-date" formControlName="date" [invalid]="courseForm.get('date').invalid"></course-date>
  <div class="controls">
    <button type="submit" [disabled]="courseForm.invalid">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>