<p class="breadcrumbs">
    <span *ngFor="let breadcrumb of breadcrumbs">
        <a *ngIf="breadcrumb.url" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
        <span *ngIf="!breadcrumb.url">{{ breadcrumb.label }}</span>
        <span> / </span>
    </span>
</p>
