<section class="course" [courseHighlight]="course.created" [class.rated]="course.isTopRated">
  <div class="course-info">
    <img class="course-logo" src="../../../assets/image-not-found.jpg">
    <div class="course-details">
      <div class="course-header">
        <h3 class="course-title">
          {{ course.name | uppercase }}
          <img src="../../../assets/topRated.png" class="rated-icon" />
        </h3>
        <div>
          <span class="course-duration">{{ course.length | duration }}</span>
          <span class="course-created">{{ course.date | date: 'MM.dd.yyyy' }}</span>
        </div>
      </div>
      <div class="course-description">
        {{ course.description }}
      </div>
    </div>
    <div class="course-toolbox">
        <button class="edit-course" (click)="editCourse(course.id)">Edit</button>
        <button class="remove-course" (click)="removeCourse(course.id)">Delete</button>
      </div>
  </div>
</section>
