.course {
    display: flex;
    margin: 5px 10px;
    border: 4px solid #999999;
    padding: 20px 25px;
    background-image: url("../../../assets/background.jpg");
    background-size: cover;
    box-shadow: inset 2000px 0 0 0 rgba(57, 194, 215, 0.8);
    height: 170px;
}

.course.rated {
    box-shadow: inset 2000px 0 0 0 rgba(132, 215, 57, 0.8);
}

.course .rated-icon {
    display: none;
}

.course.rated .rated-icon {
    display: inline;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.course-logo {
    width: 100px;
    height: 100px;
}

.course-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-header > h3 {
    text-transform: uppercase;
}

.course-details {
    width: 70%;
}

.course-duration,
.course-created {
    padding: 5px 10px;
    color: #19ae9b;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 17px;
}

.course-duration {
    margin-right: 15px;
}

.course-toolbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
}

.edit-course,
.remove-course {
    border-width: 0;
    width: 104px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #19ae9b;
    font-weight: bold;
    font-size: 17px;
}

.edit-course {
    margin-bottom: 1em;
}

.course-description {
    display: flex;
    justify-content: space-between;
}