<label class="course-duration">
  <p class="title">
    Duration: 
    <span *ngIf="duration"> ({{duration | duration}})</span>
  </p>
  <input type="text" placeholder="120" (input)="handleInput()" [class.invalid]="invalid" [(ngModel)]="duration">
</label>