<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login-header">
      <p class="login-title">Login</p>
    </div>
    <div class="login-body">
      <label class="login-email">
        <span>Email*</span>
        <input type="text" name="email" id="login-email" placeholder="example@email.com" formControlName="username">
      </label>
      <label class="login-pwd">
        <span>Password*</span>
        <input type="password" name="password" id="login-pwd" placeholder="Password" formControlName="password">
      </label>
      <button class="login-submit" type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>
