.login-wrapper {
    position: relative;
    height: 100%;
    min-height: 650px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 500px;
    height: 250px;
}

.login-header {
    margin: 0 10px;
}

.login-title {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: larger;
}

.login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.login-email,
.login-pwd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15%;
    width: 65%;
}

input {
    margin-right: 15px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
}

.login-submit {
    margin: 10px;
    border: 1px solid rgba(102, 102, 102, 0.55);
    border-radius: 1.2em;
    width: 125px;
    height: 36px;
    color: #666666;
    font-weight: bold;
}