<div class="main-toolbox">
  <form [formGroup]="searchForm" class="main-searchbox" (ngSubmit)="changeQuery()">
    <input type="text" name="course-search" id="course-search" class="course-search" placeholder="Name, fragment or date" formControlName="query">
  </form>
  <a routerLink="new" class="add-course">+ Add course</a>
</div>
