.main-toolbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: #F3F4F4;
    height: 55px;
}

.course-search,
.course-search.ng-invalid {
    margin-right: 15px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
    border-color: gray;
}

.add-course,
.searchBtn {
    border: 1px solid rgba(102, 102, 102, 0.55);
    border-radius: 1.2em;
    width: 125px;
    height: 36px;
    color: #666666;
    font-weight: bold;
}

a.add-course {
    text-align: center;
    line-height: 36px;
    text-decoration: none;
}

.searchBtn {
    width: 100px;
    height: 30px;
}