<div class="user-panel">
  <div *ngIf="user">
    <span> {{ user }} </span>
    <p class="user-logout" (click)="logout()">[logout]</p>
  </div>
  <a *ngIf="!user" routerLink="/login" class="user-login">Login</a>
  <img class="user-photo" src="../../../../assets/profile.png" alt="">
  
</div>
