.user-panel {
    display: flex;
    align-items: center;
    color: #FFF;
}

.user-login {
    text-decoration: none;
    color: #FFF;
}

.user-logout {
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.user-photo {
    margin-left: 20px;
    border-radius: 50%;
    width: 55px;
}