/* You can add global styles to this file, and also import other style files */

button {
    margin-left: 10px;
    border: 1px solid rgba(102, 102, 102, 0.55);
    border-radius: 1.2em;
    width: 125px;
    height: 36px;
    color: #666666;
    font-weight: bold;
    cursor: pointer;
}

button:disabled {
    color: #b3b2b2;
    cursor: not-allowed;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid  {
    border-color: red;
}